body {
    margin: 0;
    padding: 0;
    height: 1289px;
    width: 857px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height:  1.65;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #316e74;
    text-align: center;
    position: relative;
    min-width: 857px;
}

@media (min-width: 1200px) {
    body {
        width: 1200px;
    }
}

h1 {
    font-weight: 600;
    font-size: 35px;
}


/* Main body CSS */
.main-container {
    width: 630px;
    height: 820px;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 410px;
}

.main-card p {
    margin: 0px;
}

.link {
    text-decoration: underline;
    margin-top: 35px;
    margin-bottom: 20px;
}


/* Icons CSS */
.icon-bar {
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
    margin-top: 30px;
}

.icon-bar img {
    width: 75px;
    height: 75px;
}


/* Footer CSS */
.footer-container {
    background-color: #315074;
    height: 473px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 0px 10px;
    margin: 0;
    line-height: 1.7;
}

.footer-card {
    flex: 1;
    margin-top: 30px;
    max-width: 300px;
    height: 350px;
    padding: 0;
    margin: 0;
    line-height: 1.7;
}

.footer-icon {
    width: 100px;
    height: 100px;
}

.footer-card h2 {
    margin-top: 35px;
}

.footer-card p {
    white-space: pre-line;
}

.footer-link {
    color: #7fb4e0;
}
